.main-header.header-style-two.alternate-two {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
}

.main-header.header-style-two.alternate-two .outer-box .search-box-btn,
.main-header.header-style-two.alternate-two .main-menu .navigation>li>a {
    color: #ffffff;
}

.main-header.header-style-two.alternate-two.fixed-header .outer-box .search-box-btn,
.main-header.header-style-two.alternate-two.fixed-header .main-menu .navigation>li>a {
    color: #000000;
}

.main-header.header-style-two.alternate.fixed-header .header-top,
.main-header.header-style-two.alternate-two.fixed-header .header-top-two {
    display: none;
}

.main-header.header-style-two.alternate-two .main-box {
    position: fixed;
    width: 100%;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: all 300ms ease;
}

.main-header .main-box {
    position: relative;
    padding: 25px 0;
    transition: all 300ms ease;
}

.main-header .logo-box {
    position: relative;
    float: left;
    transition: all 300ms ease;
}

.main-header .logo-box .logo img {
    display: inline-block;
    max-width: 100%;
    transition: all 300ms ease;
}

.main-header .nav-outer {
    position: relative;
    float: right;
    transition: all 600ms ease;
}

.main-header .nav-outer .main-menu {
    position: static;
    float: left;
}

.main-menu .navigation {
    position: static;
    margin: 0px;
}

.main-menu .navigation>li {
    position: relative;
    float: left;
    margin-left: 30px;
    transition: all 300ms ease;
    list-style-type: none;
}

.main-menu .navigation ul li {
    list-style-type: none;
}

.main-menu .navigation li a:hover {
    text-decoration: none;
}

.main-menu .navigation>li>a {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #fefefe;
    opacity: 1;
    text-align: center;
    transition: all 300ms ease;
}

.main-menu .navigation>li>a:before {
    position: absolute;
    left: 50%;
    bottom: 10px;
    height: 2px;
    width: 0%;
    content: "";
    transform: scale(-1);
    background: #ed6d11;
    background: linear-gradient(to left, #ed6d11 0%, #ed6d11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed6c11", endColorstr="#441066", GradientType=1);
    transition: all 300ms ease;
}

.main-menu .navigation>li.current>a:before,
.main-menu .navigation>li:hover>a:before {
    left: 0;
    width: 100%;
}

.main-menu .navigation>li>ul>li.dropdown>a:before {
    font-family: "Font Awesome 5 Free";
    content: "";
    position: absolute;
    right: 25px;
    top: 8px;
    width: 10px;
    height: 20px;
    display: block;
    line-height: 20px;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    z-index: 5;
}

.main-menu .navigation>li>ul>li>ul>li.dropdown:hover>a:after {
    color: #ffffff;
}

.main-menu .navigation>li>ul {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 220px;
    z-index: 100;
    display: none;
    opacity: 0;
    visibility: hidden;
    padding: 20px 0px;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: top;
    transform: rotateX(90deg);
    border-bottom: 3px solid #ed6c11;
    border-radius: 0 0 6px 6px;
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li>ul:before {
    position: absolute;
    content: "";
    left: 0px;
    top: -30px;
    width: 100%;
    height: 30px;
    display: block;
}

.main-menu .navigation>li>ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation>li>ul>li {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
}

.main-menu .navigation>li>ul>li:last-child {
    margin-bottom: 0px;
}

.main-menu .navigation>li>ul>li>a {
    position: relative;
    display: block;
    padding: 5px 25px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #222222;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation>li>ul>li:hover>a {
    color: #ed6c11;
}

.main-menu .navigation>li>ul>li>ul {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 220px;
    z-index: 100;
    display: none;
    opacity: 0;
    visibility: hidden;
    margin-top: -50px;
    padding: 20px 0px;
    background: #ffffff;
    transform-origin: top;
    transform: rotateX(90deg);
    border-bottom: 3px solid #ed6c11;
    border-radius: 0 0 6px 6px;
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li>ul>li>ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation>li>ul>li>ul>li {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
}

.main-menu .navigation>li>ul>li>ul>li:last-child {
    margin-bottom: 0px;
}

.main-menu .navigation>li>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding: 5px 25px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #222222;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation>li>ul>li>ul>li:hover>a {
    color: #ed6c11;
}

.main-menu .navigation>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
    transition: all 500ms ease;
}

.main-menu .navigation li>ul>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
    transition: all 500ms ease;
}

.main-menu .navbar-collapse>ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    line-height: 28px;
    border: 1px solid #ffffff;
    background-size: 20px;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.main-header .outer-box {
    position: relative;
    float: right;
    margin-left: 50px;
}

.main-header .search-box-outer {
    position: relative;
    float: left;
    transition: all 300ms ease;
}

.main-header .search-box-btn {
    position: relative;
    float: left;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
    background: none;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    margin-top: 10px;
    transition: all 300ms ease;
}

.main-header .outer-box .btn-box {
    position: relative;
    float: right;
    padding: 5px 0;
    margin-left: 20px;
}

.main-header .outer-box .btn-box .custom-btn {
    margin-top: -10px;
    background: var(--primary-color);
    box-shadow: var(--primary-shadow);
}

.main-header .outer-box .btn-box .custom-btn:hover {
    color: var(--primary-color);
}

.main-header .outer-box .btn-box .custom-btn::before {
    content: 'SignUp / Login';
    color: var(--primary-color);
}

.main-header .outer-box .btn-box a {
    position: relative;
    float: right;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 14px;
}

.nav-outer .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    color: #541484;
    margin: 7px 0px 2px;
    display: none;
    font-weight: 400;
}

.mobile-nav-toggler {
    border: 1px solid #541484;
    border-radius: 50%;
    padding: 0px 10px;
}

.mobile-nav-toggler:focus {
    outline: none;
}


.header-span {
    height: 90px;
    display: block;
}

.header-style-two .main-box {
    padding: 0px 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.header-style-two .outer-box,
.header-style-two .logo-box,
.header-style-two .main-menu .navigation>li {
    padding: 20px 0;
    transition: all 300ms ease;
}

.header-style-two .search-box-btn,
.header-style-two .main-menu .navigation>li>a {
    color: #000000;
}

.header-style-two.fixed-header {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.main-header.header-style-two.fixed-header .main-box {
    background-color: #ffffff;
}

.main-header.header-style-two.alternate-two.fixed-header .main-box {
    background-color: #ffffff;
    /* padding: 0; */
}

.header-style-two.fixed-header .outer-box,
.header-style-two.fixed-header .logo-box,
.header-style-two.fixed-header .main-menu .navigation>li {
    padding: 10px 0;
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
}

.mobile-menu .nav-logo {
    position: relative;
    padding: 20px 20px;
    text-align: left;
}

.mobile-menu .nav-logo img {
    max-width: 200px;
}

.mobile-menu-visible {
    overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
    opacity: 1;
    visibility: visible;
}

.mobile-menu .menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.mobile-menu-visible .mobile-menu .menu-backdrop {
    opacity: 1;
    visibility: visible;
}

.mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #ffffff;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    border-radius: 0px;
    visibility: hidden;
    transform: scale(0);
    transform-origin: top right;
    transition: all 400ms ease;
}

.mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.mobile-menu .close-btn {
    position: absolute;
    right: 15px;
    top: 25px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #ed6c11;
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s ease;
    transform: translateY(-50px);
}

.mobile-menu-visible .mobile-menu .close-btn {
    transform: translateY(0px);
}

.mobile-menu .close-btn:hover {
    opacity: 0.5;
}

.mobile-menu .navigation {
    position: relative;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li>ul>li:last-child {
    border-bottom: none;
}

.mobile-menu .navigation li>ul>li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li>a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 20px;
    font-size: 16px;
    color: #404040;
    font-weight: 600;
    text-transform: capitalize;
}

.mobile-menu .navigation li:hover>a,
.mobile-menu .navigation li.current>a {
    color: #541484;
}

.mobile-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    line-height: 44px;
    color: #404040;
    cursor: pointer;
    z-index: 5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    width: 1px;
    height: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu .navigation li>ul,
.mobile-menu .navigation li>ul>li>ul {
    display: none;
    transition: all 1s ease-in;
}

@media only screen and (min-width: 768px) {

    .main-menu .navigation>li>ul,
    .main-menu .navigation>li>.mega-menu,
    .main-menu .navigation>li>ul>li>ul {
        display: block !important;
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (max-width: 1139px) {
    .main-menu .navigation>li {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 1023px) {

    .main-header,
    .main-header.fixed-header,
    .main-header .main-box {
        background-color: #541484;
    }

    .main-header .main-box {
        padding: 10px 0;
        background-color: #541484;
    }

    .header-style-two,
    .header-style-two .main-box {
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
        padding: 0;
    }

    .header-style-two .logo-box,
    .header-style-two .main-menu .navigation>li {
        padding: 10px 0;
    }

    .header-style-two .main-box {
        padding: 0px 30px;
    }

    /* .header-style-two .outer-box .theme-btn {
        background-color: #ed6c11;
        color: #ffffff;
    } */

    .header-style-two .nav-outer {
        float: right;
    }

    .schedule-tabs .tab-btn:after,
    .banner-meetup .countdown .counter-column:before,
    .about-section .image-column .image-1:before,
    .main-header .outer-box {
        display: none;
    }

    .nav-outer .mobile-nav-toggler {
        position: relative;
        top: 15px;
        display: block;
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {
    .main-header .nav-outer .main-menu {
        display: none !important;
    }

    .main-header .header-lower .nav-outer {
        padding-right: 0;
    }

    .main-header .outer-box {
        position: absolute;
        left: 0;
        top: 0;
    }

    .header-style-two .nav-outer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width:700px) {
    .header-style-two .main-box {
        padding: 0px 10px;
    }

    .nav-outer .mobile-nav-toggler {
        top: 0px;
    }

}